.prod {
    width: 300px;
    height: 500px;
    background-color: white;
    margin: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

body {
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img {
    height: 350px;
    width: 265px;
    background-color: blueviolet;
    margin: 15px;

}

.btn {
    background-color: chartreuse;
    color: black;
    height: 50px;
    width: 150px;
    font-size: 25px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(3, 192, 3);
}

.header {
    height: 100px;
    background-color: blueviolet;
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;

}

.buk {
    margin: 10px;
    background-color: white;
    cursor: pointer;
}

.buc {
    background-color: aqua;
    padding: 5px;
    margin: 10px;

}



.fullbk {
    display: flex;
}

.pr {
    font-size: 35px;
}

.pris {
    font-size: 25px;
    color: red;
}

.mod {
    font-size: 20px;

}

.con {
    height: 100px;
    background-color: blueviolet;
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin-top: auto;
}

.avt {
    background-color: white;
    cursor: pointer;
}

.skidka {
    text-decoration: line-through;

}

.full {
    display: flex;
    justify-content: space-between;
}
.star{
    color: gold;
    background-color: chocolate;
}
.th{
    text-decoration: underline;
    cursor: pointer;
    color: rgb(255, 153, 0);
}